html, body {
    margin: 0;
    padding: 0;
    /*width: 100%;*/
    /*height: 100%;*/
}

/*外层容器*/
.container {
    width: 100%;
    height: 1200px;
    background-color: darkcyan;

    display: flex;
}

/*左侧导航栏区域*/
.left-nav-bar {
    height: 100%;
    width: 136px;
    background-color: rgb(24,28,56);
}

/*右侧页面区域*/
.right-page {
    height: 100%;
    background-color: rgb(242,247,255);

    flex: 1;

    display: flex;
    flex-direction: column;
}

/*页面区域的头部*/
.right-page>.page-head {
    height: 46px;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 2px solid rgb(233,237,242);

    position: fixed;

    overflow: hidden;

    z-index: 99;
}

/*页面区域下部,展示区域*/
.right-page>.product-display {
    width: 100%;
    height: 900px;
    background-color: rgb(248,250,254);

    flex: 1;

    position: relative; /*该元素子元素为绝对定位*/
}

/*左侧导航栏的标题图标区域*/
.left-nav-bar>.title {
    width: 100%;
    height: 46px;
    background-color: transparent;
    text-align: center;
}

.left-nav-bar>.title>img.font-pic {
    width: 136px;
    height: 46px;
    background-color: transparent;
}

/*标题图表暂时没有制作,用span标签代替*/
div.title>span.title {
    font-weight: bolder;
    font-size: 18px;
    font-family: "微软雅黑 Light", Light sans-serif;
    line-height: 46px;
    color: white;
}

/*ul去除样式*/
ul {
    list-style: none;
    /*background-color: salmon;*/
    margin: 0;
    padding: 0;
}

/*ul列表li标签的样式*/
ul.nbf li {
    display: block;
    width: 100%;
    height: 40px;
    /*background-color: #ffffff;*/
    margin-bottom: 20px;

    cursor: pointer;
}

/*ul列表li标签光标在区域内时变色*/
ul.nbf li:hover {
    background-color: rgb(32,54,116);
}

ul.nbf li:hover span {
    color: #ffffff;
}

/*第一个li标签的上外边距单独设置*/
ul.nbf li.user_management {
    margin-top: 10px;
}

/*当前功能的li背景色变换*/
ul.nbf>li.current-func {
    background-color: rgb(51,112,255);
}

/*当前功能的span字体变换*/
ul.nbf li.current-func span {
    color: white;
}

/*a标签去除下划线*/
ul.nbf a {
    text-decoration: none;
}

/*导航栏第一个功能的图标*/
ul.nbf img {
    /*margin-top: 8px;*/
    margin-left: 12px;
    margin-right: 6px;
    width: 20px;
    height: 20px;
    /*background-color: lightgreen;*/
    vertical-align: middle;
}

ul.nbf span {
    /*display: inline-block;*/
    /*width: 70px;*/
    /*height: 40px;*/
    /*background-color: tomato;*/
    font-size: 14px;
    font-family: "PingFang SC","微软雅黑",sans-serif;
    color: rgb(186,187,196);
    /*vertical-align: top;*/
    line-height: 40px;
}

/*右侧展示区域的头部 功能名称区域*/
.right-page>.page-head>.func-name {
    width: 61px;
    height: 20px;
    /*background-color: #cccccc;*/

    margin-top: 13px;
    margin-left: 20px;
}

/*功能名称前的小蓝标*/
.right-page>.page-head>.func-name::before {
    content: "";
    display: inline-block;
    width: 3.5px;
    height: 12px;
    border-radius: 17px;
    margin-right: 5.5px;
    background-color: rgb(51,112,255);
}

/*功能名称span标签*/
.func-name>span {
    position: absolute;
    height: 20px;
    left:30px;
    top: 13px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    font-family: "PingFang SC","微软雅黑",sans-serif;
    line-height: 20px;
    color: rgb(78,89,105);
    display: inline-flex;
    align-items: center
}

/*参数区域的div*/
.right-page>.para {
    width: 100%;
    height: 48px;
    background-color: white;
    border-bottom: 2px solid rgb(233,237,242);

    position: fixed;
    top: 48px;

    z-index: 99;

}

/*搜索图片的 para 区域*/
.para>form {
    width: 100%;
    height: 100%;
    background-color: white;

    display: flex;
    align-items: center;
}

.para>form>label {
    margin-left: 30px;
    font-weight: bold;
    font-size: 15px;

    font-family: "微软雅黑",sans-serif;
}

.para>form>label>input {
    width: 230px;
    height: 24px;
    border: 1px solid #c5cddb;
    line-height: 24px;
    border-radius: 3px;
    font-size: 15px;

    outline: none;
}

.para>form>input {
    width: 56px;
    height: 24px;
    margin-left: 30px;
    background-color: rgb(24,28,56);
    border: 1px solid #c5cddb;
    border-radius: 2px;
    color: white;

    cursor: pointer;

    outline: none;
}


/*右侧展示区域的图片展示区域*/
.right-page>.product-display>.product-images {
    width: 900px;
    height: 900px;
    background-color: #ffffff;
    border: 1px solid rgb(212,216,219);

    position: absolute;
    top: 120px;
    left: 5px;

    display: flex;
    flex-wrap: wrap;
}

/*每张图片的div样式*/
.product-images>.image-index {
    width: 298px;
    height: 298px;
    /*background-color: tomato;*/
    border: 1px solid rgb(212,216,219);
}

/*每个img标签外嵌套a标签*/
.product-images>.image-index>a {
    display: block;
    width: 100%;
    height: 100%;
}

.product-images>.image-index:hover {
    transform: scale(1.16,1.16)
}

/*每张图片的大小*/
.product-images>.image-index img {
    width: 100%;
    height: 100%;
}


/*商品介绍区域*/
.right-page>.product-display>.product-intro {
    width: 300px;
    height: 100%;
    border: 2px solid rgb(212,216,219);
    background-color: white;

    padding: 200px 50px;
    box-sizing: border-box;

    position: fixed;
    top: 0;
    right: 0;
}

/*商品介绍区域内部信息*/
.product-display>.product-intro>.intro-inner {
    width: 300px;
    height: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*商品介绍每一行的样式设置*/
.intro-inner>div {
    width: 100%;
    height: 40px;
    font-family: "Helvetica", "Arial", sans-serif;
    /*border: 1px solid black;*/
    font-size: 18px;
    font-weight: 600;
    font-style: oblique;

    box-sizing: border-box;
    line-height: 40px;
}

/*商品名称字体变大*/
.intro-inner>div.name {
    font-size: 21px;
    font-weight: bolder;
}


