{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品展示页面</title>
<!--    <link rel="stylesheet" href="../../BaseCss/Normalize.css">-->
    <link rel="stylesheet" href="/static/css/product_display/index.css">

</head>
<body>
    <div class="container">
        <div class="left-nav-bar">
<!--            左侧导航栏标题-->
            <div class="title">
                    <img src="/static/assets/src-icon/title_logo.png" alt="" class="font-pic">
            </div>
<!--            左侧导航栏ul列表-->
            <div>
                <ul class="nbf">
                    <li class="user_management">
                        <a href="{% url 'user_management:index' %}">
                            <div>
                                <img src="/static/assets/src-icon/user_mg.png" alt="" class="user_mg">
                                <span>用户管理</span>
                            </div>
                        </a>
                    </li>

                    <li class="display current-func">
                        <img src="/static/assets/src-icon/pr.png" alt="" class="user_mg">
                        <span>商品展示</span>
                    </li>

                    <li class="back-mg">
                        <img src="/static/assets/src-icon/back_manage_logo.png" alt="" class="user_mg">
                        <span>后台管理</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="right-page">
<!--            右侧头部-->
            <div class="page-head">
<!--            右侧头部功能名称-->
                <div class="func-name">
                    <span>商品展示</span>
                </div>
            </div>

            <div class="para">
                <form action="{% url 'product_display:index' %}">
                    <label>
                        国际码 &nbsp;<input type="text" name="gjm" placeholder="请输入国际码">
                    </label>

                    <label>
                        商品条码 &nbsp;<input type="text" name="sptm" placeholder="请输入商品条码">
                    </label>

                    <label>
                        父条码 &nbsp;<input type="text" name="ftm" placeholder="请输入父条码">
                    </label>

                    <input type="submit" value="查询">
                </form>
            </div>
<!--            商品展示页面-->
            <div class="product-display">
<!--                左侧间隙区域-->
                <div class="left-space"></div>
<!--                左侧图片区域-->
                <div class="product-images">
                    {% if get_para == 0 %}
                        {% for image in images_path %}
                            <div class="image-index">
                                <img src="{{ image }}" alt="">
                            </div>
                        {% endfor %}
                    {% elif get_para == 1 %}
                        {% for image in images_path %}
                            <div class="image-index">
                                <a href="{% url 'product_display:image_display' image.0 image.1 %}" target="_blank">
                                    <img src="{% static image.2 %}" alt="">
                                </a>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
<!--                中间间隙区域-->
                <div class="middle-space"></div>
<!--                商品展示页面的右侧商品简介区域-->
                <div class="product-intro">
                    {% if get_para == 0 %}
                        {% for k,v in info.items %}
                            <div class={{ k }}>{{ v.0 }} {{ v.1 }}</div>
                        {% endfor %}
                    {% elif get_para == 1 %}
                        {% for k,v in info.items %}
                            <div class={{ k }}>{{ v.0 }} 
                                <span>{{ v.1 }}</span>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="right-space"></div>
            </div>
        </div>
    </div>
</body>
</html>



